<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotel.mangrovehotel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FitnessActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".SwmmingPoolActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MetingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ServicesMangroveID" android:screenOrientation="portrait"/>
        <activity
            android:name=".LaveSpaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exceutiveLaungue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BestDeals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MangroveCash_Booknow_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MangroveCash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Feedback_Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TramsAncConditions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Regastation_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OliviaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HukalangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SevenSessionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MangobarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CornerCafeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookNowLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Landing_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>